*:global{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "default_font";
    src: url("../Inter-Regular.ttf");
}
@font-face{
    font-family: "default_font_bold";
    src: url("../Inter-SemiBold.ttf");
}
body:global{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    min-height: 100vh;
    font-family: "default_font";
    color: #E5E5E5;
    margin: 0;
    padding: 0;
}
h2,h3,h4{
    font-family: "default_font_bold";
}