---
import BaseBluprint from '../layouts/BaseBluprint.astro';
import Headman2 from '../components/Headman2.astro';
import Button from '../components/Button.astro';
---

<BaseBluprint title="Terms">
    <Headman2 />
    <div id="content">
        <h1>Terms & Conditions</h1>
        <p>Id sagittis bibendum tortor praesent. Sit viverra.</p>
        <h2>Terms and Conditions</h2>
        <p>Iaculis euismod a euismod dictum sit dictum arcu, neque. Consequat fusce laoreet accumsan, vestibulum. Turpis sed eu tortor massa pellentesque lectus tortor viverra sed. Nulla dignissim quis dolor nunc id bibendum vel. Dignissim sit sed viverra rhoncus pulvinar blandit massa. Eu aenean eu est non nibh suscipit pretium, pellentesque. Dolor vitae, amet, ornare suspendisse. Sit ac varius libero egestas ullamcorper lacinia et viverra auctor. Semper lobortis vitae vitae in malesuada molestie. Ante elementum massa pretium, sit arcu. Porta blandit tincidunt urna magna.</p>
        <p>Orci, et ipsum gravida eget risus. Nunc velit quam pellentesque viverra. Feugiat mi purus ornare vitae aliquet cras tellus velit sociis. Ut augue tellus sed at. Duis morbi lorem nibh amet, mus urna, purus velit. Mi condimentum laoreet sed iaculis nunc vestibulum nunc diam tortor. Pulvinar orci, non lectus nec duis. Adipiscing vitae augue sed sapien purus. Porttitor at eu mi, non enim nunc diam. Vel nisl cursus nam risus morbi ac venenatis faucibus ac. Enim ullamcorper nullam in aliquam, curabitur dapibus risus interdum cursus. Arcu et quis egestas scelerisque tempor, mauris. Dictum amet odio pellentesque dis euismod diam arcu, pellentesque. Leo sem pellentesque pretium volutpat quam consequat. Eu nec consectetur mus consectetur eget. Vitae eu ultrices adipiscing commodo. Interdum vivamus enim ut diam nisl.</p>
        <p>Lacus dapibus urna blandit turpis pulvinar adipiscing eu aliquam. Lectus scelerisque arcu aliquet feugiat velit ut nunc massa in. Sed sapien ut molestie ipsum. Sed tristique ullamcorper ornare vitae accumsan malesuada ac facilisis. Posuere lorem duis adipiscing cras nisl. </p>
        <p>Eget gravida orci congue quis etiam condimentum mattis. Nibh morbi aliquam et, lectus rhoncus. Nullam lacus, urna quis tempus varius. Amet, venenatis, scelerisque dignissim sed. Tellus fermentum.</p>
        <h2>Est sem adipiscing commodo cursus.</h2>
        <p>Sagittis eleifend tincidunt semper eget venenatis nulla viverra. Pharetra, nascetur sit turpis feugiat vestibulum semper orci. Lacus pretium in aliquet tristique. Eget mollis nam eu, sem mattis suspendisse ac. Dictum ultrices dolor suspendisse donec elit integer.</p>
        <h2>Tincidunt.</h2>
        <p>Amet, elit fames quis consequat. Vel, mattis tellus in turpis elementum tellus id vitae. Nibh quis ut bibendum cursus amet, vitae metus scelerisque quam. Nibh bibendum augue urna, sed nulla ultrices molestie aenean id. Consequat tortor vestibulum feugiat vulputate. Ipsum mattis morbi.</p>
        <h2>Odio.</h2>
        <p>Tellus consectetur sed et cras nec gravida sit. Ut euismod egestas amet vel viverra lectus id id arcu. Ultrices in magna id tincidunt luctus amet. Porttitor pulvinar integer justo, eget amet, vitae aliquam aliquam. Mi tellus in nisi, augue nibh faucibus adipiscing vitae orci. Risus urna consequat in pellentesque nec imperdiet fringilla. Convallis faucibus egestas urna enim, urna vivamus et. In arcu vitae sed massa. Sed amet eu, neque non urna a amet id libero. Ut quisque sed pretium sodales in felis dictumst elit viverra. Sed in quisque risus orci quis urna. Enim ullamcorper orci amet arcu turpis. </p>
        <div class="infoCard3">
		<h2>See Our Current Projects</h2>
		<p>Chililabombwe 100 MW Solar Power Project</p>
		<div id="imgGallery">
			<img src="../gal1.png" class="theseImgs" />
			<img src="../gal2.png" class="theseImgs" />
			<img src="../gal3.png" class="theseImgs" />
		</div>
		<Button className="btnBlue" btnLabel="Go to Current Project" onclickLink="location.href='/project'"/>
	</div>
    </div>
</BaseBluprint>

<style>
    #content{
        grid-column: 3/11;
        margin: 50px 0;
    }
    #content h1{
        text-align: center;
        color:#252525;
    }
    #content h2{
        color: #252525;
    }
    #content p{
        color: rgba(0,0,0,0.5);
        line-height: 1.67em;
    }
    #content p:first-of-type{
        text-align: center;
    }
    .infoCard3{
		grid-column: 3/11;
		display: grid;
		grid-template-columns: auto;
		width: 100%;
		justify-content: center;
		text-align: center;
		color: #252525;
		margin: 40px auto;
	}
	#imgGallery{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
		margin: 20px 10px;
	}
	.theseImgs{
		border-radius: 20px;
		background-color: #e5e5e5;
		padding: 0;
		width: 100%;
		height: auto;
	}
	.theseImgs:first-of-type{
	    padding: 0;
	}
	.infoCard3 p{
		color: rgba(0, 0, 0, 0.5);
		padding: 10px;
	}
	.infoCard3 h2{
		margin: 0;
	}
    .cardImg{
        width: 100%;
        height: auto;
    }
</style>