---
const {btnLabel = "Contact Us", class="btnBlue"} = Astro.props;
const {className ="btnDefault"} = Astro.props;
const {onclickLink ="#"} = Astro.props;
const {attr=""} = Astro.props;
---
<button class={className} onclick={onclickLink} id={attr}>
    {btnLabel}
</button>

<!-- Button Styling-->
<style>
    .btnDefault{
        grid-column: 2;
        width: 150px;
        height: 40px;
        background-color: #ED994C;
        text-align: center;
        border-radius: 50px;
        color: #fff;
        text-decoration: none;
        border: none;
        font-size: .9em;
        cursor: pointer;
    }
    .btnBlue{
        background-color: #2D9CDB;
        min-width: 150px;
        height: 40px;
        text-align: center;
        border-radius: 50px;
        color: #ffffff;
        text-decoration: none;
        border: none;
        padding: 0 20px; 
        font-size: .9em;
        cursor: pointer;
        margin: 10px auto;
    }
    .btnDefault:hover{
        background-color: #D07624;
    }
    .btnBlue:hover{
        background-color: #204A71;
    }
    #abs{
        justify-self: right;
        margin: 0;
        max-width: 150px;
    }
</style>