---
const {cprop=""} = Astro.props;
const {idea=""} = Astro.props;
---
<div class="card" id={idea}>
    <div class="c1" id={cprop}>
        <slot name="img"/>
    </div>
    <div class="c2">
        <slot name="desc"/>
    </div>  
</div>

<style>
    *{
        box-sizing: border-box;
    }
    .card{
        grid-column: 3/11;
        display: grid;
        grid-template-columns: 44% 54%;
        grid-template-rows: 100%;
        padding-top: 75px;
        gap: 2%;
        align-items: center;
        color: rgba(0, 0, 0, 0.5);
    }
    .c2{
        padding: 0 20px;
    }
    .c1{
        min-height: 100%;
        padding: 5px;
        overflow: hidden;
    }
    #abtUs{
        background-image: url("../solarPanels.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
    }
</style>