---
const {idees=""} = Astro.props;
const {idea=""} = Astro.props;
---
<div class="card" class={idees} id={idea}>
    <div class="c1">
        <slot name="desc"/>
    </div>
    <div class="c2">
        <slot name="img"/>
    </div>  
</div>

<style>
    *{
        box-sizing: border-box;
    }
    .card{
        grid-column: 3/11;
        display: grid;
        grid-template-columns: 44% 54%;
        padding-top: 75px;
        gap: 2%;
        align-items: start;
        color: rgba(0, 0, 0, 0.5);
    }
    .c2{
        padding: 20px;
        max-height: 100%;
    }
    .c1{
        width: 100%;
        height: auto;
        font-size: 1rem;
    }
    .boulder{
		border-top: 4px solid #c4c4c4;
        margin-top: 75px;
	}
</style>