---
const {idees=""} = Astro.props;
---
<div class="card" id={idees}>
    <div class="c1">
        <slot name="desc"/>
    </div>
    <div class="c2">
        <slot name="img"/>
    </div>  
</div>

<style>
    .card{
        grid-column: 3/11;
        display: grid;
        grid-template-columns: 44% 54%;
        margin-bottom: 75px;
        gap: 2%;
        align-items: center;
        color: rgba(0, 0, 0, 0.5);
    }
    .c2{
        padding: 20px;
    }
    .c1{
    }
    #boulder{
		border-top: 4px solid #c4c4c4;
        padding-top: 75px;
	}
</style>