---
import Button from "../components/Button.astro";
---
<div class="infoCard3">
    <h2>See Our Current Projects</h2>
    <p>Chililabombwe 100 MW Solar Power Project</p>
    <div id="imgGallery">
        <img src="gal1.png" class="theseImgs" />
        <img src="gal2.png" class="theseImgs" />
        <img src="gal3.png" class="theseImgs" />
    </div>
    <Button className="btnBlue" btnLabel="Go to Current Project" onclickLink="location.href='/project'"/>
</div>

<style>
	h2{
		font-family: "default_font_bold";
	}
    .infoCard3{
		grid-column: 3/11;
		display: grid;
		grid-template-columns: auto;
		width: 100%;
		justify-content: center;
		text-align: center;
		color: #252525;
		margin: 75px auto 0 auto;
	}
	#imgGallery{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
		margin: 20px 10px;
	}
	.theseImgs{
		border-radius: 20px;
		background-color: #e5e5e5;
		padding: 0;
		width: 100%;
		height: auto;
	}
	.theseImgs:first-of-type{
	    padding: 0;
	}
	.infoCard3 p{
		color: rgba(0, 0, 0, 0.5);
		padding: 10px;
	}
	.infoCard3 h2{
		margin: 0;
	}
</style>