---
import Footman from '../components/Footman.astro';
import Navbar from '../components/Navbar.astro';
import Styles from '../styles/GlobalStyles.css';
export interface Props { title: string;}
const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{title}</title>
</head>
<body>
  <Navbar />
	<slot />
  <Footman />
</body>
</html>

<style>
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: "default_font";
    src: url("../Roboto-Regular.ttf");
  }
  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    min-height: 100vh;
    font-family: "default_font";
    color: #E5E5E5;
    margin: 0;
    padding: 0;
  }
</style>